<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        Search Pharma product (Node API)
      </div>
      <div class="card-body">
        <p style="color:red; font-size: 11px">* Use the pharma company name only to do search. Use keywords like pharma, Inc, Allergy, Eon, Reddys, Ascend, International, ...</p>
        <input class="form-control" placeholder="Search for pharma company name..." type="text" [formControl]='queryField' />
        <br />

        <ul class="product-list">
          <li *ngFor="let prod of mResults | slice: 0:10">
            <div class="row">
              <div class="col-sm-6"><span class="label bold">Company Name:</span> &nbsp;&nbsp; <span class="fieldValue">{{prod.company}}</span></div>
              <div class="col-sm-6"><span class="label">Drug Name:</span> &nbsp;&nbsp; <span class="fieldValue">{{prod.drugname}}</span></div>
              <div class="col-sm-6"><span class="label">Generic Name:</span> &nbsp;&nbsp; <span class="fieldValue">{{prod.genericname}}</span></div>
              <div class="col-sm-6"><span class="label">NHS Number:</span> &nbsp;&nbsp; <span class="fieldValue">{{prod.nhsnumber}}</span></div>
            </div>
          </li>
        </ul>

        <!-- <br/>
        <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" 
          [itemsPerPage]="itemsPerPage" 
          (pageChanged)="pageChanged($event)"></pagination> -->

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        Search With RxJS Subject
      </div>
      <div class="card-body">
        <p style="color:red; font-size: 11px">* This is a generic search which uses 'https://api.cdnjs.com/libraries/' to do the search Operation. (Eg. angular, jquery, react, zoom, ...)</p>
        <input class="form-control" placeholder="Search here ..." type="text" (keyup)="searchTerm$.next($event.target.value)">
        <br />
        <p class="text-center" *ngIf="showMsg">
          No records found
        </p>
        <br />
        <ul>
          <li *ngFor="let result of results | slice: 0:10">
            <p>{{result.name}}</p>
            <p><a href="{{result.latest}}" target="_blank">{{result.latest}}</a></p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="ball-triangle-path"></ngx-spinner>