<div class="animated fadeIn">
  <div class="cols-12">
      <h4>Highcharts JS</h4>
  </div>
  <div class="cols-12">
    <div class="card">
      <div class="card-header">
        Line Chart
      </div>
      <div class="card-body">
        <div [chart]="chart"></div>
      </div>
    </div>
  </div>

  <div class="cols-12">
    <div class="card">
      <div class="card-header">
        Stacked Area Chart
      </div>
      <div class="card-body">
        <div [chart]="stackedArea"></div>
      </div>
    </div>
  </div>

  <div class="cols-12">
    <div class="card">
      <div class="card-header">
        Column Area Chart
      </div>
      <div class="card-body">
        <div [chart]="columnArea"></div>
      </div>
    </div>
  </div>

  <div class="cols-12">
    <div class="card">
      <div class="card-header">
        Pia Chart
      </div>
      <div class="card-body">
        <div [chart]="piaChartArea"></div>
      </div>
    </div>
  </div>

  <div class="cols-12">
    <div class="card">
      <div class="card-header">
        Highcharts Combination: Dual axes, line and column
      </div>
      <div class="card-body">
        <div [chart]="combinationChartArea"></div>
      </div>
    </div>
  </div>

</div>