<div class="card">
  <div class="card-body">
    <form class="form-horizontal">
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="hf-email">First Name:</label>
        <div class="col-md-9">
          <span class="help-block">{{firstname}}</span>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="hf-password">Last Name:</label>
        <div class="col-md-9">
          <span class="help-block">{{lastname}}</span>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="hf-password">Phone:</label>
        <div class="col-md-9">
          <span class="help-block">{{phone}}</span>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="hf-password">Address:</label>
        <div class="col-md-9">
          <span class="help-block">{{address}}</span>
        </div>
      </div>
    </form>
  </div>
</div>