<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-primary">
        <a [routerLink]="['/components/clientpagination']" style="color: #fff; text-decoration: none" class="card-body">
          <strong>Kendo UI Grid</strong> - Pagination, Filter, Sorting, Add, Update, Delete row
        </a>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-info">
        <a [routerLink]="['/components/pagination']" style="color: #fff; text-decoration: none" class="card-body">
          <strong>Data from Mongoodb</strong> - Data from Node Server with Pagination
        </a>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-warning">
        <a [routerLink]="['/components/chart']" style="color: #fff; text-decoration: none" class="card-body">
          <strong>Chart.js</strong> - Line, Bar, Pie charts integration using stocks APIs
        </a>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-danger">
        <a [routerLink]="['/components/highcharts']" style="color: #fff; text-decoration: none" class="card-body">
          <strong>Highcharts.js</strong> - Line, Bar, Pie charts integration using APIs
        </a>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-success">
        <a [routerLink]="['/components/parent-child-communication']" style="color: #fff; text-decoration: none" class="card-body">
          <strong>Data communication</strong> - Passing data from parent to child, child to parent, two sibling
          components
        </a>
      </div>
    </div>
    <!--/.col-->
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-danger">
        <a [routerLink]="['/components/directives']" style="color: #fff; text-decoration: none" class="card-body">
          <strong>Directives</strong> - Styling the container, Different card icon, Password and confirm password
        </a>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-primary">
        <a [routerLink]="['/components/pipes']" style="color: #fff; text-decoration: none" class="card-body">
          <strong>Custom Pipes</strong> - Default image, Capitalize first character, Truncate characters, Filter pipe
        </a>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-info">
        <a [routerLink]="['/components/search']" style="color: #fff; text-decoration: none" class="card-body">
          <strong>Search implementaion</strong> - Accessing the data from mongoodb using node/express
        </a>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-warning">
        <a [routerLink]="['/components/ajax']" style="color: #fff; text-decoration: none" class="card-body">
          <strong>Ajax/Http Calls</strong> - Parallel and Sequential calls using RxJs operator
        </a>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-info">
        <a [routerLink]="['/components/rxjs']" style="color: #fff; text-decoration: none" class="card-body">
          <strong>RxJs</strong> - Integration of operators like switchMap, forkJoin, concat, subjectBehaviour, filter,
          etc
        </a>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-success">
        <a [routerLink]="['/components/routerparameter']" style="color: #fff; text-decoration: none" class="card-body">
          <strong>Parameterised Routes</strong> - With parameterised routes we can use variable paths in our routes.
        </a>
      </div>
    </div>
  </div>
  <!--/.row-->
</div>