<div *ngIf="pharmaListData != null">
  <kendo-grid 
    [data]="gridData" 
    [pageSize]="state.take" 
    [skip]="state.skip" 
    [sort]="state.sort" 
    [pageable]="true"
    [filter]="state.filter" 
    [sortable]="true" 
    [pageable]="true" 
    [filterable]="true" 
    [selectable]="true" 
    (dataStateChange)="dataStateChange($event)" 
    (selectionChange)="sendPharmaDetail($event)" 
    [navigable]="true">
    <kendo-grid-column field="company" title="Company" width="140" [filterable]="true"></kendo-grid-column>
    <kendo-grid-column field="drugname" title="Drug name" width="180"></kendo-grid-column>
    <kendo-grid-column field="genericname" title="Generic name" width="160"></kendo-grid-column>
    <kendo-grid-column field="code" title="Code" width="120"></kendo-grid-column>
    <kendo-grid-column field="nhsnumber" title="NHS number" width="100"></kendo-grid-column>
  </kendo-grid>
</div>

<!-- <p>{{pharmaListData}}</p>

<button (click)="passData(items)">Pass Dada</button> -->

