<div class="row">
  <div class="col-sm-6">
    <h4>Shopping Products</h4>
    <small>After clicking on 'Add to Cart', click on cart icon which will take you to cart details page.</small>
    <br/><br/>
  </div>
  <div class="col-sm-6">
    <div style="position: relative;">
      <span style="position: absolute; right:15px; top: 0;" class="badge badge-pill badge-danger">{{count}}</span>
      <i class="icons font-2xl d-block mt-5 cui-cart cart-icon" (click)="gotoCartDetails()"></i> 
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4" *ngFor="let product of products">
    <div class="card">
      <div class="card-body">
        <p class="text-center"><img [src]="product.image"></p>
        <div class="row">
          <div class="col-sm-8"><strong>{{product.name}}</strong></div>
          <div class="col-sm-4">Price: {{product.price}}</div>
        </div>
        <div class="row">
          <div class="col-sm-12 text-center"><br /><a href="javascript:void(0)" (click)="addToCart(product)">Add to
              Cart</a></div>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="ball-triangle-path"></ngx-spinner>